<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="registration" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password1" placeholder="password">
        <input type="password" name="password2" placeholder="confirm password">
        <input type="submit">
    </form>

    <div>
        {% for Message in messages %}
        <h3> {{Message}} </h3>
        {% endfor %}
    </div>
</body>
</html>